PUBLIC_WEB_DOMAIN=app.example.com
API_BASE_URL=https://api.example.com
EMAIL_CONFIRMATION_URL=https://app.example.com/confirm-registration
APPLE_STORE_URL=https://apps.apple.com/app/id0000000000
ANDROID_STORE_URL=https://play.google.com/store/apps/details?id=com.example.note_sondage
SENTRY_DSN=
