PUBLIC_WEB_DOMAIN=192.168.1.20
API_BASE_URL=http://192.168.1.20:8080
EMAIL_CONFIRMATION_URL=http://192.168.1.20:8088/confirm-registration
APPLE_STORE_URL=https://apps.apple.com/app/id0000000000
ANDROID_STORE_URL=https://play.google.com/store/apps/details?id=com.example.note_sondage
SENTRY_DSN=https://312e7a8a57720a7f9391227a68d07c4e@o4511354283556864.ingest.de.sentry.io/4511354290438224
AUTH_PASSWORD_REQUIRE_VERIFIED_EMAIL=false
MINIO_ENDPOINT=http://localhost:9002
