PUBLIC_WEB_DOMAIN=app.notesondage.lan
API_BASE_URL=https://api.notesondage.lan
EMAIL_CONFIRMATION_URL=https://app.notesondage.lan/confirm-registration
SENTRY_DSN=
MINIO_ENDPOINT=http://localhost:9002
