PUBLIC_WEB_DOMAIN=app.notesondage.lan
API_BASE_URL=https://api.notesondage.lan
EMAIL_CONFIRMATION_URL=https://app.notesondage.lan/confirm-registration
APPLE_STORE_URL=https://apps.apple.com/app/id0000000000
ANDROID_STORE_URL=https://play.google.com/store/apps/details?id=com.example.note_sondage
SENTRY_DSN=https://312e7a8a57720a7f9391227a68d07c4e@o4511354283556864.ingest.de.sentry.io/4511354290438224
MINIO_ENDPOINT=http://localhost:9002
